<div [class.bg-success]="todo.completed" class="card m-5 bg-base-100 shadow-xl" *ngIf="todo">
  <div class="card-body">
    <div [class.hidden]="!todo.expired" class="badge badge-primary bg-error border-error">
      EXPIRED
    </div>
    <h2 [class.text-success-content]="todo.completed" class="card-title">
      {{ todo.title }}
    </h2>
    <p [class.text-success-content]="todo.completed">Due on {{ todo.dueDate | date }}</p>
    <div class="form-control">
      <label class="label cursor-pointer">
        <span [class.text-success-content]="todo.completed" class="label-text">Completed</span>
        <input
          type="checkbox"
          [(ngModel)]="todo.completed"
          (change)="onChange(todo.id, $event, todo.dueDate)"
          class="checkbox checkbox-primary"
          [checked]="todo.completed" />
      </label>
    </div>
  </div>
</div>
