<div
  [class.tw-bg-success]="todo.completed"
  class="tw-card tw-border-2 tw-m-5 tw-bg-base-100 tw-shadow-xl"
  *ngIf="todo">
  <div class="tw-card-body">
    <div
      [class.tw-hidden]="!todo.expired"
      class="tw-badge tw-badge-primary tw-bg-error tw-border-error">
      EXPIRED
    </div>
    <h2 [class.tw-text-success-content]="todo.completed" class="tw-card-title">
      {{ todo.title }}
    </h2>
    <p [class.tw-text-success-content]="todo.completed">
      {{ todo.dueDate == undefined ? 'No due date' : 'Due on ' + (todo.dueDate | date) }}
    </p>
    <div class="tw-form-control">
      <label class="tw-label tw-cursor-pointer">
        <span [class.tw-text-success-content]="todo.completed" class="tw-label-text"
          >Completed</span
        >
        <input
          type="checkbox"
          [(ngModel)]="todo.completed"
          (change)="onChange(todo.id, $event, todo.dueDate)"
          class="tw-checkbox tw-checkbox-primary tw-rounded-full"
          [checked]="todo.completed" />
      </label>
    </div>
  </div>
</div>
